.container {
  padding: 50px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.content {
  display: grid;

  grid-template-columns: 30% 1fr;
  grid-template-rows: 1fr;

  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  & img {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}

.textContainer {
  padding: 20px;
  text-align: left;

  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.tagline {
  margin-bottom: 20px;
  font-style: italic;
  font-weight: normal;
}

.subtitle {
  margin-bottom: 15px;
  font-size: 18px;
}

.text {
  margin-bottom: 20px;
  font-size: 16px;
  font-style: italic;
}

.score {
  font-size: 18px;
  margin-bottom: 15px;
}

.list {
  margin: 0;
}

.item {
  font-size: 16px;
  font-style: italic;

  &:first-child {
    margin-top: 16px;
  }

  &:last-child {
    margin-bottom: 16px;
  }
}

.Information-container {
  padding: 20px;
  background-color: #bddfdfa1;
}

.MovieDetails-link {
  font-size: 20px;
}
