.App {
  text-align: center;
}

.Header {
  display: flex;
  justify-content: center;
  padding: 20px;

  background-color: rgb(124, 159, 236);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.NavList {
  display: flex;
}

.NavLink {
  font-size: 20px;
  color: currentColor;
  &:first-child {
    margin-right: 30px;
  }
}

.NavLink--active {
  color: rgb(205, 50, 135);
  text-decoration: underline;
}

.Return-button {
  position: absolute;
  top: 29%;
  left: 4%;
  display: inline-block;
  padding: 3px 10px;
  border-radius: 4px;
  background-color: #7c9fec;
  color: #fff;
}

.Movies-container {
  text-align: center;
}
